*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    outline: none;

}

body{
    background-image: url("../images/trees-3294681_1920.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;

    
}

header{
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    background-color: rgba(255, 255, 255, 0.9);
    /*transform: translate(-50%,-50%);*/
    
    position: relative;
    box-shadow: 0px 4px 16px,rgba(0,0,0,0.5);
   
}


.logo{
    float:left;
}

nav{
    float: right;
}

h1{

font-size: 50px;
}
.green{
font-size: 50px;
font-family: 'Fuzzy Bubbles', cursive;
color: #6aa40c;
}


nav ul li{
    display: inline-block;
    padding: 15px 25px;

}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    font-size: 25px;
    color: black;

}

nav ul li a:hover{
    color: #6aa40c;
}

.nav2{
display: none;
}


.greeting{
  display: inline-block;
  align-items: center;
    width: 80%;
    margin-top: 180px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 70px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
   
   
}



.vision{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);

}

.vision h2{
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}
.vision p {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

footer{
    width: 100%;
   
    position: absolute;
    background: linear-gradient(to right ,#141f14,#014500);

    color: #fff;
    padding: 100px 0 30px;
    font-size: 15px;
    line-height: 20px;
    
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;

}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 20%;    
}

.footerlogo{
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}

.motto{
    font-size: 15px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.footlist li{
    list-style: none;
    margin-bottom: 12px;

}

.fl a{
    text-decoration: none;
    color:#fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6aa40c;
    margin-bottom: 50px;

}

footer .fa-solid{
    font-size: 18px;
    margin-right: 10px;

}

form input{
    width: 100%;
    background: transparent;
    color: #6aa40c;
    border: 0;
    outline: none;

}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    
}

form button .fa-solid{
    font-size:16px;
    color:#ccc;
}
.socialmedia .fa-brands{
    width: 40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;

}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 20px auto;   
}

.copyright{
    text-align: center;

}
/* media */
@media (max-width:1216px){
  .nav1{
    display: none;
  }
  .nav2{
    display: block;
    width: 100%;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-top: 30px;

  }

  .nav2 ul li{
    padding: 15px 0px;
    width: 100%;



  }
  footer{
    bottom: unset;  
  }

  .col{
    flex-basis: 100%;
    

}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 100%;    
}

}






*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.divcontact{
    margin-top: 30px;
    margin-bottom: 30px;
	width: 100%;
	height: 100vh;
	display: grid;
	align-items: center;
    background-color: rgba(0, 0, 0, 0.612);
    
	font-family: 'Poppins', sans-serif;
}

.contact-in
{
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #666;
}

.contact-map
{
	width: 100%;
	height: auto;
	flex: 50%;
}
.contact-map iframe
{
	width: 100%;
	height: 100%;
}
.contact-form
{
	width: 100%;
	height: auto;
	flex: 50%;
	padding: 30px;
	text-align: center;
}
.contact-form h1
{
	margin-bottom: 10px;
}

.contact-form-txt
{
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-txt::placeholder
{
	color: #aaa;
}
.contact-form-textarea
{
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}
.contact-form-textarea::placeholder
{
	color: #aaa;
}

.contact-form-btn
{
	width: 100%;
	border:none;
	outline: none;
	border-radius: 50px;
	background: #51e22d;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
}

.details{
    text-align: center;
    margin-top: 5% ;
   
    color: #fff;
    font-size: 30px;
}

